@font-face {
    font-family: NeueMachinaRugular;
    src: url("assets/NeueMachina-Regular.otf") format("opentype");
}

body {
    margin: 0;
    font-family: NeueMachinaRugular;
    background-image: url(assets/heroimageplaceholder.png);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
    position: relative;
}

.nav-left, .nav-right {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-left li, .nav-right li {
    margin: 0 5px; /* Reduced margin for closer spacing within groups */
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.navbar a:hover {
    filter: blur(8px);
}

.logo {
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
